.LinksWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.Link {
    padding: 8px 12px;
    transition: color 0.3s;
}

.Link:hover {
    color: var(--mp-primary-green);
}

.LinksWrapper li {
    display: flex;
    align-items: center;
    width: 100%;
}

.Link {
    width: 100%;
}

@media (width <=530px) {
    .LinksWrapper {
        flex-direction: column;
        align-items: flex-start;
    }
}