.MainWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.Chip {
  padding: 6px 14px;
  border-radius: var(--mp-border-radius-small);
  background-color: var(--mp-primary-light-green);
  border: 1px solid #a5d37f;
  color: var(--mp-primary-green);
  font-weight: 600;
}