.MainWrapper {
  min-height: calc(100vh - var(--mp-header-height));
  display: flex;
  align-items: center;
  padding-block: 40px;
}

.InnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.ContentWrapper {
  max-width: 750px;
}

.Nickname {
  margin-block: 10px 30px;
  color: var(--mp-primary-green);
}

.ImageWrapper {
  flex-shrink: 0;
}

.Image {
  width: 380px;
  height: 460px;
  border-radius: var(--mp-border-radius-large);
  object-fit: cover;
  object-position: top;
  display: block;
}

.LinksWrapperStyles {
  margin-block: 20px;
}

@media (width <=1030px) {
  .InnerWrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .Image {
    width: 300px;
    height: 380px;
  }

  .ContentWrapper {
    text-align: center;
  }
}

@media (width <=650px) {
  .Image {
    width: 250px;
    height: 300px;
  }
}