.MainWrapper {
  min-height: calc(100vh - var(--mp-header-height));
  display: flex;
  align-items: center;
  background-color: var(--mp-light-grey);
}

.InnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.ContentWrapper {
  max-width: 750px;
}

.Nickname {
  margin-block: 10px 30px;
  color: var(--mp-primary-green);
}

.ImageWrapper {
  flex-shrink: 0;
}

.Image {
  width: 380px;
  height: 460px;
  border-radius: var(--mp-border-radius-large);
  object-fit: cover;
  object-position: top;
  display: block;
}

.LinksWrapperStyles {
  margin-block: 20px;
}