.MainWrapper {
    display: flex;
    align-items: center;
    gap: 8px 16px;
}

.MainWrapper a {
    display: flex;
    padding: 5px;
    border-radius: var(--mp-border-radius-small);
    transition: background-color 0.2s;
}

.MainWrapper a:hover {
    background-color: var(--mp-primary-green);
}

.MainWrapper a:hover svg {
    color: var(--mp-primary-white);
}

@media (width <=1030px) {
    .MainWrapper {
        justify-content: center;
    }
}

@media (width <=650px) {
    .MainWrapper svg {
        height: 25px;
        width: 25px;
    }
}