.MainWrapper {
    color: var(--mp-bold-grey);
    line-height: 1.7;
    margin-bottom: 40px;
}

.BioChunk {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.BioChunk>svg {
    flex-shrink: 0;
}

.BioChunk:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--mp-primary-green);
}

@media (width <=1030px) {
    .BioChunk svg {
        height: 35px;
        width: 35px;
    }

    .BioDescription {
        text-align: left;
    }
}

@media (width <=400px) {
    .BioChunk svg {
        display: none;
    }
}