.MainWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.CardsWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    width: 100%;
}

.Card {
    background-color: #161b22;
    color: var(--mp-primary-white);
    border-radius: var(--mp-border-radius-large);
    padding: 24px;
}

.CardTitle {
    margin-bottom: 16px;
}

.CardDescription {
    color: var(--mp-medium-grey);
}

@media (width <=930px) {
    .CardsWrapper {
        grid-template-columns: 1fr;
    }
}