:root {
    --mp-header-height: 65px;
    --mp-primary-black: #000;
    --mp-primary-white: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    line-height: 1.4;
    background-color: var(--mp-primary-white);
    color: var(--mp-primary-black);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
}

.MainContainer {
    margin: 0 auto;
    max-width: 1330px;
    padding-inline: 25px;
}