.MainWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: var(--mp-header-height);
    background-color: var(--mp-primary-white);
}

.InnerWrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
