.MainWrapper {
    padding-block: 20px;
    background-color: var(--mp-primary-black);
    color: var(--mp-primary-white);
}

.InnerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (width <=800px) {
    .InnerWrapper {
        flex-direction: column;
    }
}
